@using Olympiad.ControlPanel.Pages
@inherits LayoutComponentBase

<Layout Style="min-height: 100vh;">
    <AuthorizeView Context="userContext">
        <Authorized>
            @if (userContext.User.IsTempLogin())
            {
                <Header Style="background-color: #2b2b2b; height: 52px">
                    <Row Justify="space-between">
                        <AntDesign.Col Span="24" Style="align-self: center">
                            <Tooltip Title="@("Выполнен временный вход под пользователем")" Placement="Placement.Bottom">
                                <Title Level="3" style="color: white; margin: 0">Временный пользователь: @userContext.User.Identity?.Name</Title>
                            </Tooltip>
                        </AntDesign.Col>
                    </Row>
                </Header>
            }
            <Header>

                <Row Justify="space-between">
                    <AntDesign.Col Span="12" Style="align-self: center">
                        <Title Level="3" style="color: white; margin: 0">Панель управления</Title>
                    </AntDesign.Col>
                    <AntDesign.Col Span="12" Style="text-align: right">
                        <Text style="color: white; cursor: pointer;"><NavLink style="color: white;" href="@Routes.Users.UserEdit(userContext.User.Id())">@userContext.User.Identity?.Name</NavLink> <Icon Type="unordered-list" Theme="outline" OnClick="@(() => {logs?.Show();})"></Icon></Text>
                    </AntDesign.Col>
                </Row>
            </Header>
        </Authorized>
    </AuthorizeView>
    <Layout>
        <Sider Width="250"
               Class="site-layout-background"
               Breakpoint="@BreakpointType.Lg"
               CollapsedWidth="0">
            <NavMenu />
        </Sider>
        <Layout Style=" padding: 0 24px 24px;">
            <Content Class="site-layout-background" Style=" padding: 24px; margin: 24px 0 0 0; min-height: 280px;">
                <CascadingValue Value="@(logs as ILogsService)">
                    @Body
                </CascadingValue>
            </Content>
        </Layout>
    </Layout>
</Layout>
<LogsComponent @ref="logs" />
<style>
    .site-layout-background {
        background: #fff;
    }
</style>


@code {
    LogsComponent? logs;
}