@inherits OwningComponentBase<ApplicationDbContext>
@inject IJSRuntime JS
@if (exerciseData != null)
{
    <tr>
        <td>
            @if (exerciseData.InData?.Length > 200)
            {
                <textarea class="form-control">@exerciseData.InData.Substring(0, 200)</textarea>
                <p>Too big for show all</p> <button class="btn btn-secondary" @onclick="@(() => JS.DownloadFile("in.txt", exerciseData.InData))">Download</button>
            }
            else
            {
                <textarea class="form-control" onClick="this.setSelectionRange(0, this.value.length)" @bind="exerciseData.InData" />
            }
        </td>
        <td>
            @if (exerciseData.OutData.Length > 200)
            {
                <textarea class="form-control">@exerciseData.OutData.Substring(0, 200)</textarea>
                <p>Too big for show all</p> <button class="btn btn-secondary" @onclick="@(() => JS.DownloadFile("in.txt", exerciseData.OutData))">Download</button>
            }
            else
            {
                <textarea class="form-control" onClick="this.setSelectionRange(0, this.value.length)" @bind="exerciseData.OutData" />
            }
        </td>
        <td>
            @if (Service.Entry(exerciseData).State == EntityState.Modified && exerciseData.InData.Length <= 200 && exerciseData.OutData.Length <= 200)
            {
                <button class="btn btn-success" @onclick="Save">Save</button>
            }
            else
            {
                <p>@Service.Entry(exerciseData).State</p>
            }
        </td>
        <td><button class="btn btn-danger" @onclick="Delete">Delete</button></td>
    </tr>
}
else
{
    <tr>
        <td>loading</td>
        <td>@ExerciseDataId</td>
    </tr>
}

@code {
    [Parameter]
    public Guid ExerciseDataId { get; set; }
    [CascadingParameter(Name = "EditExerciseDataGroup")]
    EditExerciseDataGroup EditExerciseDataGroup { get; set; }

    private Models.Exercises.ExerciseData exerciseData;

    private System.Threading.SemaphoreSlim dbOperation = new System.Threading.SemaphoreSlim(1, 1);
    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        await dbOperation.WaitAsync();
        try
        {
            if (exerciseData == null || exerciseData.Id != ExerciseDataId)
            {
                exerciseData = await Service.TestData.SingleOrDefaultAsync(d => d.Id == ExerciseDataId);
            }
        }
        finally
        {
            dbOperation.Release();
        }
    }


    private async Task Save()
    {
        await dbOperation.WaitAsync();
        try
        {
            await Service.SaveChangesAsync();
        }
        finally
        {
            dbOperation.Release();
        }
    }

    private async Task Delete()
    {
        await dbOperation.WaitAsync();
        try
        {
            Service.Remove(exerciseData);
            await Service.SaveChangesAsync();
            await EditExerciseDataGroup.UpdateList();
        }
        finally
        {
            dbOperation.Release();
        }
    }
}
