@inject IJSRuntime JS

@implements IAsyncDisposable

<Modal Width="@("70%")"
       Visible="visible"
       Closable="false"
       MaskClosable="!IsLoading"
       OnCancel="() => HideModal()">

    @if (currentStatus <= CreatingStatus.GeneratingDocument)
    {
        <Steps Current="@((int)currentStatus)">
            <Step Title="Подготовка" />
            <Step Title="Генерирование" />
            <Step Title="Выгрузка информации" />
        </Steps>
    }

    @switch (currentStatus)
    {
        case CreatingStatus.WaitStartCommand when (modelToGenerate is not null):
            <Title>Создание @modelToGenerate.UserGenerateRows.Count пользователей</Title>
            <Button Type="@ButtonType.Primary" OnClick="() => CreateUsers(modelToGenerate)">Начать</Button>
            break;
        case CreatingStatus.WaitStartCommand when (modelToGenerate is null):
            <Alert Type="@AlertType.Error"
           Message="Ошибка"
           Description="Неверное использвоание модального окна. Пожалуйста, обновите страницу."
           ShowIcon="true" />
            break;
        case CreatingStatus.CreatingUsers when (modelToGenerate is not null):
            <Text>Генерирование @currentGeneratingUser.userInfo?.StudentID <Text Keyboard>@(currentGeneratingUser.index + 1)</Text> / <Text Keyboard>@modelToGenerate.UserGenerateRows.Count</Text></Text>
            <Progress Percent="ProgressPercents" Status="@ProgressStatus.Active" />
            break;
        case CreatingStatus.GeneratingDocument:
            <Spin Size="large" Spinning>Генерирование результатов</Spin>
            break;
        case CreatingStatus.TotalSuccess:
            <Result Status="success"
            Title="Все пользователи созданы успешно!">
                <Extra>
                    <a href="@documentLink" download="@documentDownloadName">
                        <Button Type="primary">Скачать результаты</Button>
                    </a>
                </Extra>
            </Result>
            break;
        case CreatingStatus.ContainsErrors:
            <Result Status="warning"
            Title="При создании пользователей произошли ошибки"
            SubTitle="Подробная информация содержится в итоговом файле">
                <Extra>
                    <a href="@documentLink" download="@documentDownloadName">
                        <Button Type="primary">Скачать результаты</Button>
                    </a>
                </Extra>
            </Result>
            break;
        default:
            <p>Неверный текущий статус, обновите страницу</p>
            break;
    }

</Modal>

@code {
    private bool visible;

    private bool IsLoading => currentStatus == CreatingStatus.CreatingUsers || currentStatus == CreatingStatus.GeneratingDocument;
    private CreatingStatus currentStatus;
    private enum CreatingStatus
    {
        WaitStartCommand,
        CreatingUsers,
        GeneratingDocument,
        TotalSuccess,
        ContainsErrors
    }

    [CascadingParameter]
    public ILogsService Logs { get; set; }

    private UsersGenerateModel? modelToGenerate;
    private double ProgressPercents => Math.Round((double)currentGeneratingUser.index / (modelToGenerate?.UserGenerateRows.Count ?? 0) * 100, 2);
    private (UserGenerateRow? userInfo, int index) currentGeneratingUser;
    private string? documentLink;
    private string? documentDownloadName;

    internal void StartCreatingUsers(UsersGenerateModel usersGenerateModel)
    {
        visible = true;
        modelToGenerate = usersGenerateModel;
        currentStatus = CreatingStatus.WaitStartCommand;
        documentLink = null;
        StateHasChanged();
    }

    private async ValueTask HideModal()
    {
        await CleanResources();
        visible = false;
    }

    private async Task CreateUsers(UsersGenerateModel usersGenerateModel)
    {
        currentStatus = CreatingStatus.CreatingUsers;
        StateHasChanged();


        List<UserGenerateRow> generates = new List<UserGenerateRow>();
        var defaultClaims = new List<System.Security.Claims.Claim> { new System.Security.Claims.Claim("reset_password", "need") };
        foreach (var currentUser in usersGenerateModel.UserGenerateRows.Select((u, i) => (u, i)))
        {
            var (userToGenerate, i) = currentUser;
            currentGeneratingUser = currentUser;
            StateHasChanged();
            await GenerateUser(userToGenerate);
            generates.Add(userToGenerate);
            Logs.LogInfo($"Generate user: {i + 1}/{usersGenerateModel.UserGenerateRows.Count} | {userToGenerate.StudentID}");
        }

        if (generates.Any())
        {
            currentStatus = CreatingStatus.GeneratingDocument;
            StateHasChanged();
            await DownloadResults(usersGenerateModel.SourceFileName, generates);
        }

        if (generates.Count == usersGenerateModel.UserGenerateRows.Count)
        {
            currentStatus = CreatingStatus.TotalSuccess;
        }
        else
        {
            currentStatus = CreatingStatus.ContainsErrors;
        }
    }

    private async Task GenerateUser(UserGenerateRow user)
    {
        await Task.Delay(TimeSpan.FromSeconds(5));
        //User user = new User()
        //{
        //    Email = $"{userToGenerate.StudentID}@{generateSettings.Value.Domain}",
        //    UserName = userToGenerate.StudentID,
        //    EmailConfirmed = true,
        //    StudentID = userToGenerate.StudentID,
        //    FirstName = userToGenerate.FirstName
        //};

        //var result = await Service.CreateAsync(user, userToGenerate.Password);
        //if (!result.Succeeded)
        //{
        //    await logs.Log(string.Join('\n', result.Errors.Select(ir => ir.Description)));
        //    continue;
        //}
        //result = await Service.AddToRoleAsync(user, "User");
        //result = await Service.AddClaimsAsync(user, userToGenerate.Claims.Concat(defaultClaims));
    }

    private async Task DownloadResults(string sourceFileName, List<UserGenerateRow> generated)
    {
        using var workBook = new ClosedXML.Excel.XLWorkbook();
        var workSheet = workBook.Worksheets.Add("Users");
        var currentRow = 1;
        var currentColumn = 1;
        workSheet.Cell(currentRow, currentColumn++).SetValue("ID (login)");
        workSheet.Cell(currentRow, currentColumn++).SetValue("Password");
        workSheet.Cell(currentRow, currentColumn++).SetValue("Name");
        foreach (var claim in generated.First().Claims)
        {
            workSheet.Cell(currentRow, currentColumn++).Value = claim.Type;
        }
        foreach (var row in generated)
        {
            currentRow++;
            currentColumn = 1;
            workSheet.Cell(currentRow, currentColumn++).SetValue(row.StudentID);
            workSheet.Cell(currentRow, currentColumn++).SetValue(row.Password);
            workSheet.Cell(currentRow, currentColumn++).SetValue(row.FirstName);
            foreach (var claim in row.Claims)
            {
                workSheet.Cell(currentRow, currentColumn++).SetValue(claim.Value);
            }
        }
        using var stream = new System.IO.MemoryStream();
        workBook.SaveAs(stream);
        var content = stream.ToArray();
        documentDownloadName = $"{sourceFileName} - Пользователи.xlsx";
        documentLink = await JS.DownloadFile(documentDownloadName, content);
    }

    private async ValueTask CleanResources()
    {
        if (documentLink is not null)
        {
            await JS.RevokeUrl(documentLink);
        }
    }

    public async ValueTask DisposeAsync()
    {
        await CleanResources();
    }
}
