@page "/challenges"
@attribute [Authorize(Roles = RoleNames.ADMIN)]

@using PublicAPI.Responses.Challenges
@using Olympiad.Shared.Models

@inject IChallengesApi ChallengesApi

<PageTitle>Управление соревнованиями</PageTitle>
<PageHeader Title="Управление соревнованиями">
    <PageHeaderBreadcrumb>
        <Breadcrumb>
            <BreadcrumbItem>
                Соревнования
            </BreadcrumbItem>
        </Breadcrumb>
    </PageHeaderBreadcrumb>
    <PageHeaderExtra>
        <NewChallengeButton />
    </PageHeaderExtra>
</PageHeader>

<Table DataSource="challenges"
       Loading="@(challenges == null)"
       PageSize="@(challenges?.Count ?? 0)"
       Total="@(challenges?.Count ?? 0)"
       HidePagination>

    <Column @bind-Field="context.Name" Title="Название" Sortable>
        <NavLink href="@Routes.Challenges.ChallengeEdit(context.Id)">@context.Name</NavLink>
    </Column>
    <Column @bind-Field="context.ChallengeAccessType" Title="Публичность" Sortable>
        <Text>
            <Icon Type="@context.ChallengeAccessType.IconType()" />
            @context.ChallengeAccessType.ToRussian()
        </Text>
    </Column>
    <Column @bind-Field="context.StartTime" Title="Начало" Sortable>
        <PrettyDateTimeOffset DateTimeOffset="context.StartTime" />
    </Column>
    <Column @bind-Field="context.EndTime" Title="Конец" Sortable>
        <PrettyDateTimeOffset DateTimeOffset="context.EndTime" />
    </Column>
</Table>

@code {
    private List<ChallengeResponse>? challenges;

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        challenges = await ChallengesApi.GetAllChallengesAsync();
    }
}
